
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccionGuardar</title>
</head>
<body>
    <div>
        <a href="../../Download/20190107124826-ascii.pdf" download="miArchivo.pdf">descargar</a>
    </div>
</body>
</html>
