@model StreamWeb.Models.Documento

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccionDescargar</title>
</head>
<body>
    <div>
        <a href="../../DownloadS/@Model.nombre" download>descargar</a>
    </div>
</body>
</html>
