
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Documento</title>
</head>
<body>
    <div>
        <form action="Guardar" method="post">
            <input type="submit" name="guardar" value="Guardar" />
        </form>
        <form action="Descargar" method="post">
        <input type="submit" name="descargar" value="Descargar" />
        </form>
    </div>
</body>
</html>
