
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Descargar</title>
</head>
<body>
    <div>
        <form action="ReporteMemoryStream" method="post">
            <label>Codigo:<input type="text" name="codigo" value="" /></label><br />
            <label>Nit del patrono:<input type="text" name="nitPatrono" value="" /></label><br />
            <label>Nombre del patrono:<input type="text" name="patrono" value="" /></label><br />
            <label>Cantidad de folios a autorizar:<input type="text" name="cantidad" value="" /></label><br />
            <label>Fecha de solicitud:<input type="text" name="fecha1" value="" /></label><br />
            <label>Fecha de autorizacion:<input type="text" name="fecha2" value="" /></label><br />
            
            <input type="submit" name="guardar" value="Guardar" />
        </form>
        

    </div>
</body>
</html>
